<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="76394905-295c-4973-94e1-f873c2a7764d" Publisher="CN=ZhangCheng" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="76394905-295c-4973-94e1-f873c2a7764d" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Calculator.WindowsPhone</DisplayName>
    <PublisherDisplayName>ZhangCheng</PublisherDisplayName>
    <Logo>Assets\Calculator_50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Calculator.WindowsPhone.App">
      <m3:VisualElements DisplayName="Calculator" Square150x150Logo="Assets\Calculator_150x150.png" Square44x44Logo="Assets\Calculator_44x44.png" Description="这是个模仿Windows桌面系统的计算器。" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\Calculator_310x150.png" Square71x71Logo="Assets\Calculator_71x71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\Calculator_480x800.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>